<h1>Info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>My name is <b>Emily Fitzgerald</b>. I have created this app at Rails Girls September 2019, wto learn how to create an app using Ruby on Rails.</p>
